.login-page{
	background-color:#FFB806;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#FFF;
    padding: 20px 20px 20px 20px;
	-webkit-box-shadow: 4px 4px 11px -6px rgba(0,0,0,0.48);
	-moz-box-shadow: 4px 4px 11px -6px rgba(0,0,0,0.48);
	box-shadow: 4px 4px 11px -6px rgba(0,0,0,0.48);
}

.login-form {
  width: 280px;  
}